* { 
    background-color: red;
    text-align: center;
}

h2{
    color:yellow;
    font-size: 40px;
}
h1{
    color: tan;
    font-size: 100px;
}

p,
li{
    color: wheat;
    font-size: 25px;
}

ol,
ul{
    display: inline-block;
}